* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: local(※), url(fonts/SpoqaHanSansNeo-Regular.woff) format("woff") unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: "SpoqaHanSansNeo-Bold";
    src: local(※), url(fonts/SpoqaHanSansNeo-Bold.woff) format("woff") unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: "NormalBatang-Regular";
    src: url(fonts/NormalBatang-Regular.eot);
    src: local(※), url(fonts/NormalBatang-Regular.woff) format("woff")
}

body {
    font-family: 'NormalBatang-Regular', serif;
}

.info {
    padding-bottom: 225px;
    position: fixed;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 1) 59%, rgba(255, 255, 255, 0) 100%);

}

a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 50px;

    z-index: 1001;


}

a:hover {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.listtype {
    width: 100%;
    background-color: white;
    opacity: .5;
    z-index: 998;
}

ul {
    list-style-type: none;
    position: absolute;
    display: inline-block;
    margin-top: 250px;
    width: 100%;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    z-index: 999;

}

li {
    margin-top: 16px;
    margin-left: 16px;
    font-size: 48px;
    line-height: 2.2;


}

.headtext {
    margin-top: 12px;
    margin-left: 24px;
    font-size: 72px;
}

.headtext:hover {
    text-decoration: none;
}

.footerleft {
    width: 40%;
    margin: 0px 16px 0px 16px;
    bottom: 16px;
    text-align: left;
    position: fixed;
    font-size: 8px;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.footerright {
    width: 100%;
    margin: 0px 0px 0px -16px;
    bottom: 16px;
    text-align: right;
    position: fixed;
    font-size: 8px;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#defaultCanvas0 {
    pointer-events: none;
}

@media all and (min-width:600px) {}
