* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: "NormalBatang-Regular";
    src: url(fonts/NormalBatang-Regular.eot);
    src: local(※), url(fonts/NormalBatang-Regular.woff) format("woff")
}

body {
    font-family: NormalBatang-Regular, serif;
    width: 100%;
    margin-top: 16px;
    text-align: center;
}

.info {
    padding-bottom: 140px;
    position: fixed;
    width: 98%;
    text-align: center;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 1) 59%, rgba(255, 255, 255, 0) 100%);
}

a {
    display: block;
    text-decoration: none;
    color: black;

}

a:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 16px;
    font-size: 28px;
}

.textlink {
    width: 100%;
    margin: 0 auto;
    font-size: 28px;
}

p{
    font-size: 28px;
}
