
  @font-face {
    font-family: "pretendard-bold";
  
    src: url("../fonts/Pretendard-Bold.woff") format("woff"),
      url("../fonts/Pretendard-Bold.ttf") format("truetype"),
      url("../fonts/Pretendard-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "pretendard-regular";
  
    src: url("../fonts/Pretendard-Regular.woff") format("woff"),
      url("../fonts/Pretendard-Regular.ttf") format("truetype"),
      url("../fonts/Pretendard-Regular.woff2") format("woff2");
  }
  