html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #fefefe;

  overflow-x: hidden;
  min-width: 100%;
}

@media screen and (min-width: 512px) {
  html {
    font-size: 1.25vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
    helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.6;
}

body {
  font-family: "pretendard-regular", sans-serif;
}

article {
  font-size: 0.875rem;
  word-break: keep-all;
  margin: 6rem 0.5rem;
  max-width: 115ch;
  z-index: 1;
}

article .about,
article .step,
article .contact {
  margin-top: 1rem;
}

.about {
  margin-left: 15%;
}

.step * {
  margin-top: 1rem;
}

.border {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  padding: 0 6px;
}

.border:nth-child(1) {
  margin-left: 20%;
}
.border:nth-child(2) {
  margin-left: 30%;
}
.border:nth-child(3) {
  margin-left: 40%;
}
.border:nth-child(4) {
  margin-left: 50%;
}

canvas {
  cursor: pointer;
}

#header {
  width: 100%;
  height: 3rem;
  line-height: 3rem;

  z-index: 10;
  top: 0;
  position: fixed;
  background-color: #fefefe;
  box-sizing: border-box;
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  text-align: left;
  font-size: 0.875rem;
  color: #000;

  padding-left: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70%, auto));
}

#header div {
  cursor: pointer;
  position: relative;
  top: 0;
}

#header div p {
  cursor: pointer;
}

#header div:nth-child(1) {
  height: 1.5rem;
  content: url(../img/logo.svg);
  grid-column: 1 / span 1;
  grid-row: 1;

  margin-top: 0.75rem;
  cursor: pointer;
}

#header div:nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 1;
}
#header div:nth-child(3) {
  grid-column: 3 / span 1;
  grid-row: 1;
}
#header div:nth-child(4) {
  grid-column: 4 / span 1;
  grid-row: 1;
}
#header div:nth-child(5) {
  grid-column: 5 / span 1;
  grid-row: 1;
}

#header a {
  color: #000;
  text-decoration: none;

  display: inline-block;
}

#header a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0.5rem;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  background: #000;
  transition: width 0.25s ease 0s, left 0.25s ease 0s;
  width: 0;
}
#header a:hover:after {
  width: 75%;
  left: 0;
}

footer {
  position: fixed;
  font-size: 0.5rem;

  transform: translate(-50%, -50%);
  top: calc(100% - 1.5rem);
  left: 77.5%;
}

/* step */

.pie-pick {
  height: 50vh;
  position: relative;
  margin-left: 10vw;
}

.pie-pick > div {
  width: calc(25% - 4rem);
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  margin: 0.5rem;
}
.pie-pick > div .text {
  text-align: center;
  padding: 4rem 2rem;
  opacity: 0;
  transform: translateY(3rem);
  transition: all 0.25s ease-in-out;
}
.pie-pick > div .text h3 {
  font-weight: normal;
  font-size: 1rem;
}
.pie-pick > div .text p {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.pie-pick > div img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pie-pick > div span {
  position: absolute;
  font-size: 1rem;

  transform: translateX(-50%);
  top: 1rem;
  left: 50%;

  border: 1px solid #000;
  border-radius: 3rem;

  padding: 0.125rem 1rem;
}

.pie-pick > div.cloudy-sky {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pie-pick > div.cloudy-sky .text {
  color: #000;
}
.pie-pick > div.party-time {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pie-pick > div.timeless-beauty {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pie-pick > div.timeless-beauty .text {
  color: #000;
}
.pie-pick > div.snoreo {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pie-pick:hover > div:hover .text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.125s;
}
.pie-pick:hover > h2:hover ~ div {
  width: 25%;
}

/* projects: img-gallery */

.gallery {
  display: flex;
  padding: 2px;
  transition: 0.25s;

  margin: 3rem 0;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}
.gallery__link {
  margin: 3px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.25s;
}
.gallery__image:hover {
  transform: scale(1.03);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px 16px 16px;
  width: 100%;
  font-size: 0.675rem;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.25s;
}

/* mobile */

@media screen and (max-width: 812px) {
  article {
    max-width: 80%;
  }

  footer {
    top: calc(100% - 1.75rem);
    left: 60%;
  }

  .pie-pick > div {
    width: calc(50% - 8px);
  }

  .pie-pick:hover > h2:hover ~ div {
    width: 50%;
  }

  .gallery__column {
    width: 50%;
  }
}
