*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url(../fonts/SpoqaHanSansNeo-Regular.eot);
  src: local(※), url(../fonts/SpoqaHanSansNeo-Regular.woff) format("woff");
}

html {
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}

@media (min-width: 720px) and (orientation: landscape) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  line-height: 1.65;
  word-break: keep-all;
  background: #fff;
  color: #000;

  margin-left: 0.25rem;
}

article {
  margin: 0 auto;
}


article header a {

  color: #000;

  z-index: 1;
  text-decoration: underline;
}

article ul {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  grid-gap: 1rem;
  grid-template-rows: repeat(auto-fill, 1fr);
  z-index: 10;

  cursor: pointer;
}


article li {
  list-style: none;
  display: block;
}

article li:first-child {
  font-style: bold;
}

article a {
  display: block;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

em::before {
  content: "「";
  margin-left: -0.5rem;
}

em::after {
  content: "」";
  margin-right: -0.5rem;
}


canvas {
  width: 100%;
  height: 100%;
}

canvas#glscreen {
  position: fixed;
}
