*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

@font-face {
    font-family: "NormalBatang-Regular";
    src: url(../fonts/NormalBatang-Regular.eot);
    src: local(※), url(fonts/NormalBatang-Regular.woff) format("woff")
}

body {
    font-family: 'NormalBatang-Regular', sans-serif;
}

.ocunningluv {
    position: fixed;
    text-align: left;
    margin-top: 24px;
    margin-left: 24px;
    font-size: 72px;
}

a {
    text-decoration: none;
    color: black;
}

.ocunningluv:hover {
    color: blue;

}
