::-moz-selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: visible;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  overflow: hidden;
  min-height: 100%;
}

@media screen and (min-width: 512px) {
  html {
    font-size: 1.725vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}

@font-face {
  font-family: "Arnold_Regular";
  src: local(※), url(../fonts/Arnold_Regular.woff) format("woff");
}
@font-face {
  font-family: "yoon320";
  src: local(※), url(../fonts/yoon320.woff) format("woff");
}
@font-face {
  font-family: "yoon330";
  src: local(※), url(../fonts/yoon330.woff) format("woff");
}

@font-face {
  font-family: "NormalBatang-Regular";
  src: url(../fonts/NormalBatang-Regular.eot);
  src: local(※), url(../fonts/NormalBatang-Regular.woff) format("woff");
}

@media screen and (min-width: 512px) {
  body {
    font-weight: 700;
  }
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  font-family: "Arnold_Regular", sans-serif;
  width: 100%;
  font-size: 0.5rem;
  text-align: left;
  line-height: 1.7;
}

a {
  text-decoration: underline;
  text-underline-position: under;
  transition: 0.25s;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: "yoon330", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto,
    arial, sans-serif;
  letter-spacing: 0.7px;
  word-break: keep-all;
  position: absolute;

  color: black;
  margin: 16px 16px 0 0px;

  z-index: 1;
  transition: color 0.3s;
  text-align: left;
}

.footer {
  font-family: "Arnold_Regular", sans-serif;
  position: absolute;
  font-size: 0.5rem;

  right: 16px;
  top: 0px;
  z-index: 1;
}
.footer-white {
  color: white;
}

ul {
  position: absolute;
  display: inline;
  text-align: center;
  font-size: 0.75rem;
  margin: 24px;
}

li {
  display: inline;
}

li a {
  color: #fff;
  display: inline;
}

li a:visited {
  color: #000;
}

.container {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.box {
  display: inline-block;
  height: 100px;
  width: 100%;

  position: relative;
  transition: all 0.2s ease;
}

.white {
  color: #fff;
}

header {
  position: absolute;
  font-size: 1rem;
  color: #000;
  transform: translate(-50%, -50%);
  top: 85%;
  left: 50%;
}

/* modal */

.modalHeader1 {
  grid-column: 1;
  margin: 0 auto;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 50%;

  padding: 16px;
  background-color: silver;
  border-radius: 8px;
}
.modalBody1 {
  text-align: center;
  width: 50%;
  transform: translate(-50%, -50%);
  top: 30%;
  
  left: 50%;

  border: 1px dotted;
  padding: 16px;
}

.ebcf_modal1 {
  visibility: visible;
  display: block;
  position: fixed;
  z-index: 100;
  padding-top: 5vh;

  line-height: 1.75;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.99);
}
.mark1 {
  text-align: left;
  cursor: pointer;
  width: 200px;
  bottom: 0;
  left: 0;
}

.ebcf_modal-content0 {
  padding-left: 6px;
  margin: 0 auto;
  width: 100%;
}

.ebcf_close1:hover,
.ebcf_close1:focus {
  cursor: pointer;
  text-decoration: none;
}

.none {
  visibility: hidden;
  height: 0vh;
}

/* modal */

#container {
  width: 100%;
  height: 100%;
}

/* arrow */

img.bottom {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 0.5rem;

  width: 1.2rem;
  transition: opacity 0.175s;
  cursor: pointer;
  z-index: 1001 !important;
}
img.left {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 0.5rem;

  transform: rotate(90deg);
  transform-origin: center;

  width: 1.2rem;
  transition: opacity 0.175s;
  cursor: pointer;
  z-index: 1001 !important;
}

img.right {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  right: 0.5rem;

  transform: rotate(-90deg);
  transform-origin: center;

  width: 1.2rem;
  transition: opacity 0.175s;
  cursor: pointer;
  z-index: 1001 !important;
}

img.bottom:hover {
  opacity: 0.3;
}
img.left:hover {
  opacity: 0.3;
}
img.right:hover {
  opacity: 0.3;
}

/* tooltip */

iframe {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 30px;
  background-color: rgba(220, 220, 220, 1);
  color: black;
  text-align: center;
  border-radius: 3px;
  padding: 4px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltip-bottom {
  font-size: 0.45rem;
  text-align: left;
  word-break: keep-all;
  width: 300px;
  top: 125%;
  left: 40%;
  margin-left: -25px;
  padding: 12px;
}

.tooltip .tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent black transparent;
}

/* 50.js */

/** Container **/
main {
  display: flex;
  flex-wrap: wrap;
}
.cell {
  flex-basis: 50%;
  padding: 1.5em;
}

/** Global preloader styles **/
.pl,
.pl:before,
.pl:after {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.pl {
  margin: 0 auto 1.5em auto;
  position: relative;
  width: 30em;
  height: 30em;
}
.pl:before,
.pl:after {
  background: currentColor;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform-origin: 50% 100%;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.pl-name {
  text-align: center;
}

/* Hourglass */
.pl-hourglass {
  animation-name: hourglassA;
  background: #a3a3a3;
  clip-path: polygon(0 0, 100% 0, 50% 50%, 100% 100%, 0 100%, 50% 50%);
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    50% 50%,
    100% 100%,
    0 100%,
    50% 50%
  );
}
.pl-hourglass:before,
.pl-hourglass:after {
  position: static;
  clip-path: none;
  -webkit-clip-path: none;
}
.pl-hourglass:before {
  animation-name: hourglassB;
}
.pl-hourglass:after {
  animation-name: hourglassC;
}
@keyframes hourglassA {
  from,
  75% {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes hourglassB {
  from {
    transform: scaleY(1);
  }
  50%,
  to {
    transform: scaleY(0);
  }
}
@keyframes hourglassC {
  from {
    transform: scaleY(0);
  }
  50%,
  to {
    transform: scaleY(1);
  }
}

/* curtain */

#info {
  width: 100%;
  height: 100vh;
  object-fit: cover;

  position: absolute;

  justify-content: center;
  align-items: center;
  z-index: 1001 !important;

  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(
      rgba(150, 150, 150, 1) 0.01em,
      transparent 0.1em
    ),
    linear-gradient(
      90deg,
      rgba(150, 150, 150, 1) 0.01em,
      transparent 0.1em
    );
  background-size: 0.3em 0.3em;
}

section {
  display: inline;
}

:root {
  --black-color-1: #fff;
}

.bg-black-1 {
  background: var(--black-color-1);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;

  margin: 0 auto;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.none {
  display: none;
}

#c {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#defaultCanvas0 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: block;
}

@media screen and (max-width: 375px) {
  body,
  p,
  a {
    font-size: 1rem;
  }

  .footer {
    font-size: 0.5rem;
    left: 16px;
  }

  .modalHeader1 {
    top: 50%;
  }

  .modalBody1 {
    top: 50%;
    width: 80%;
  }

  img.bottom {
    width: 1.5rem;
  }
  img.left {
    width: 1.5rem;
  }
  img.right {
    width: 1.5rem;
  }
}
