::-moz-selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: visible;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  
  overflow: hidden;
  min-height: 100%;
}

@media screen and (min-width: 512px) {
  html {
    font-size: 1.725vw;

  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

@font-face {
  font-family: "Arnold_Regular";
  src: local(※), url(../fonts/Arnold_Regular.woff) format("woff");
}

@font-face {
  font-family: "NormalBatang-Regular";
  src: url(../fonts/NormalBatang-Regular.eot);
  src: local(※), url(../fonts/NormalBatang-Regular.woff) format("woff");
}

@media screen and (min-width: 512px) {
  body {
    font-weight: 600;
  }
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  font-family: "Arnold_Regular", sans-serif;

  width: 100%;
  font-size: 1rem;
  text-align: left;
  line-height: 1.7;
}

a {
  mix-blend-mode: overlay;
  text-decoration: none;
  transition: 0.25s;
}

a:active {
  text-decoration: underline;
  text-underline-position: under;
}

a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  letter-spacing: 1.2px;
  word-break: keep-all;
  position: absolute;

  color: black;
  margin: 16px 16px 0 16px;

  z-index: 1;
  transition: color 0.3s;
  text-align: left;
}

ul{
  font-size: 0.5rem;
}

p.h0 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
p.h-left1 {

}
p.h-left2 {
  left: 48px;

}
p.h-left-center {
  top: 50%;
  left: 16px;
  margin: 0;
  transform: translate(0, -50%);

  text-align: center;
}
p.h-left-white {
  color: white;
  transition: color 0.3;
}

p.h-bottom {

  width: 100%;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  
  bottom: 16px;

  z-index: 3;
}
p.h-bottom-white {
  color: #fff;
  left: 10rem;
  bottom: 16px;
  margin: 0;
  z-index: 3;
  transition: color 0.3;
}

p.h-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

footer {
  position: absolute;
  font-size: 0.15rem;
  width: 50%;
  left: 16px;
  bottom: 16px;

  z-index: 1;
}
footer.ft-white {
  color: white;
}

ul {
  font-size: 0.5rem;
  margin-top: 32px;
}

li:nth-child(10n-1) {
  margin-left: 16px;
}

.container {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.box {
  display: inline-block;
  height: 100px;
  width: 100%;

  position: relative;
  transition: all 0.2s ease;
}

#rand_pos {
  padding: 300px;
  word-break: keep-all;
}

.white {
  color: #fff;
}

/* tooltip */


.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 30px;
  background-color: rgba(200, 200, 200, 1);
  color: black;
  text-align: center;
  border-radius: 3px;
  padding: 4px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltip-bottom {
  font-size: 0.35rem;
  text-align: left;
  word-break: keep-all;
  width: 300px;
  top: 125%;
  left: 40%;
  margin-left: -25px;
  padding: 12px;
}


.tooltip .tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent black transparent;
}

/** Container **/
main {
  display: flex;
  flex-wrap: wrap;
}
.cell {
  flex-basis: 50%;
  padding: 1.5em;
}

/** Global preloader styles **/
.pl,
.pl:before,
.pl:after {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.pl {
  margin: 0 auto 1.5em auto;
  position: relative;
  width: 30em;
  height: 30em;
}
.pl:before,
.pl:after {
  background: currentColor;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform-origin: 50% 100%;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.pl-name {
  text-align: center;
}

/* Hourglass */
.pl-hourglass {
  animation-name: hourglassA;
  background: #a3a3a3;
  clip-path: polygon(0 0, 100% 0, 50% 50%, 100% 100%, 0 100%, 50% 50%);
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    50% 50%,
    100% 100%,
    0 100%,
    50% 50%
  );
}
.pl-hourglass:before,
.pl-hourglass:after {
  position: static;
  clip-path: none;
  -webkit-clip-path: none;
}
.pl-hourglass:before {
  animation-name: hourglassB;
}
.pl-hourglass:after {
  animation-name: hourglassC;
}
@keyframes hourglassA {
  from,
  75% {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes hourglassB {
  from {
    transform: scaleY(1);
  }
  50%,
  to {
    transform: scaleY(0);
  }
}
@keyframes hourglassC {
  from {
    transform: scaleY(0);
  }
  50%,
  to {
    transform: scaleY(1);
  }
}

/* curtain */

#info {
  width: 100%;
  height: 100vh;
  object-fit: cover;

  position: absolute;

  justify-content: center;
  align-items: center;
  z-index: 1001 !important;

  background-color: rgba(200, 200, 200, 1);
  background-image: linear-gradient(
      rgba(150, 150, 150, 1) 0.01em,
      transparent 0.1em
    ),
    linear-gradient(
      90deg,
      rgba(150, 150, 150, 1) 0.01em,
      transparent 0.1em
    );
  background-size: 0.3em 0.3em;
}

section {
  display: inline;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;

  margin: 0 auto;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.none {
  display: none;
}

#c {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#defaultCanvas0 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: block;
}

@media screen and (max-width: 375px) {
  body,
  p,
  a {
    font-size: 1rem;
  }

  footer {
    font-size: 0.5rem;
  }
}
